
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to RTMS</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h2>Welcome to RTMS</h2>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
              {% for message in messages %}
                <li style="color: green;">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <a href="/register">Register</a> | <a href="/login">Login</a> | <a href="/admin">Admin</a>
    </div>
</body>
</html>
